<nav class="navbar">
  <img src="/assets/img/logoTest.png" alt="Logo TALARON" class="navbar-logo">
  <div class="navbar-links">
    <a [routerLink]="['/']" class="navbar-item">Accueil</a>
    <a [routerLink]="['/calendrier']" class="navbar-item">Calendrier</a>
    <a [routerLink]="['/listProjets']" class="navbar-item">Liste des projets</a>
    <a [routerLink]="['/listTaches', weekNumber]" class="navbar-item">Liste des tâches</a>
    <a [routerLink]="['/utilisateurs/create']" class="navbar-item">Création d'utilisateurs</a>
    <a [routerLink]="['/deconnexion']" class="navbar-item">Déconnexion</a>    

  </div>
</nav>

<!-- <mat-toolbar class="toolbar">

  <img src="/assets/img/logoTest.png" alt="Logo TALARON" class="logo">


  <span class="toolbar-spacer"></span>


  <span class="toolbar-element">
    <button mat-button routerLink="/">Accueil</button>
    <button mat-button routerLink="/calendrier">Calendrier</button>
    <button mat-button routerLink="/listProjets">Liste des projets</button>
    <button mat-button routerLink="/listTaches">Liste des tâches</button>

    <button mat-button>Déconnexion</button>
  </span>
</mat-toolbar> -->


<!-- <header class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-green-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">Talaron Services</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a routerLink="/" class="mr-5 hover:text-white">Accueil</a>
        <a routerLink="/calendrier" class="mr-5 hover:text-white">Calendrier</a>
        <a routerLink="/listProjets" class="mr-5 hover:text-white">Liste des projets</a>
        <a routerLink="/listTaches" class="mr-5 hover:text-white">Liste des tâches</a>
      </nav>
      <button class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">Déconnexion
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </button>
    </div>
  </header> -->
