<h1>Création d'un utilisateur</h1>

<form [formGroup]="formCreate">
  <mat-card class="card">
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <label>Login : </label>
            <input matInput formControlName="login">
            @if (formCreate.controls['login'].hasError('required')) {
            <mat-error>Login <strong>requis</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <label>Prénom : </label>
            <input matInput formControlName="prénom">
            @if (formCreate.controls['prénom'].hasError('required')) {
            <mat-error>Prénom <strong>requis</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <label>Nom :</label>
            <input matInput formControlName="nom">
            @if (formCreate.controls['nom'].hasError('required')) {
            <mat-error>Nom <strong>requis</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
            <label>Date de naissance :</label>
            <br>
            <input type="datetime-local" formControlName="dateNaissance">
            @if (formCreate.controls['dateNaissance'].hasError('required')) {
              <mat-error>Date de naissance <strong>requise</strong></mat-error>
            }
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <label>Mail :</label>
            <input matInput formControlName="mail">
            @if (formCreate.controls['mail'].hasError('required')) {
            <mat-error>Mail <strong>requis</strong></mat-error>
            } @else if (formCreate.controls['mail'].hasError('email')) {
            <mat-error>Mail <strong>mal formé</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
            <label>Actif ? :</label>
            <br>
            <select formControlName="actif">
              <option value="true"> true </option>
              <option value="false"> false </option>
            </select>
            @if (formCreate.controls['actif'].hasError('required')) {
            <mat-error>Actif <strong>requis</strong></mat-error>
            }
        </div>
      </div>
      <br>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Envoyer</button>
      <button mat-raised-button color="primary" (click)="onClose()">Retour</button>
    </mat-card-actions>
  </mat-card>
</form>