<h1>Mise à jour d'un utilisateur</h1>

<form [formGroup]="formUpdate">
  <mat-card class="card">
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>Login :</mat-label>
            <input matInput formControlName="login">
            @if (formUpdate.controls['login'].hasError('required')) {
            <mat-error>Login <strong>requis</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>Prénom : </mat-label>
            <input matInput formControlName="prénom">
            @if (formUpdate.controls['prénom'].hasError('required')) {
            <mat-error>Prénom <strong>requis</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <mat-label>Nom :</mat-label>
            <input matInput formControlName="nom">
            @if (formUpdate.controls['nom'].hasError('required')) {
            <mat-error>Nom <strong>requis</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <label>Date de naissance :</label>
            <input matInput [matDatepicker]="picker" formControlName="dateNaissance">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (formUpdate.controls['dateNaissance'].hasError('required')) {
              <mat-error>Date de naissance <strong>requise</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <label>Mail :</label>
            <input matInput formControlName="mail">
            @if (formUpdate.controls['mail'].hasError('required')) {
            <mat-error>Mail <strong>requis</strong></mat-error>
            } @else if (formUpdate.controls['mail'].hasError('email')) {
            <mat-error>Mail <strong>mal formé</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>Actif ? :</mat-label>
            <mat-select formControlName="actif">
              <mat-option value="true">Oui</mat-option>
              <mat-option value="false">Non</mat-option>
            </mat-select>
            @if (formUpdate.controls['actif'].hasError('required')) {
            <mat-error>Actif <strong>requis</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <br>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Envoyer</button>
      <button mat-raised-button color="primary" (click)="onClose()">Retour</button>
    </mat-card-actions>
  </mat-card>
</form>