<h1>Mise à jour d'un utilisateur</h1>

<form [formGroup]="formUpdate">
  <mat-card class="card">
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Login :</mat-label>
            <input matInput formControlName="login">
            @if (formUpdate.controls['login'].hasError('required')) {
            <mat-error>Login <strong>requis</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Prénom : </mat-label>
            <input matInput formControlName="prénom">
            @if (formUpdate.controls['prénom'].hasError('required')) {
            <mat-error>Prénom <strong>requis</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Nom :</mat-label>
            <input matInput formControlName="nom">
            @if (formUpdate.controls['nom'].hasError('required')) {
            <mat-error>Nom <strong>requis</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Date de naissance :</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateNaissance">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (formUpdate.controls['dateNaissance'].hasError('required')) {
            <mat-error>Date de naissance <strong>requise</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Mail :</mat-label>
            <input matInput formControlName="mail">
            @if (formUpdate.controls['mail'].hasError('required')) {
            <mat-error>Mail <strong>requis</strong></mat-error>
            } @else if (formUpdate.controls['mail'].hasError('email')) {
            <mat-error>Mail <strong>mal formé</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <mat-label>Actif ? :</mat-label>
          <br>
          <mat-radio-group formControlName="actif">
            @if (utilisateurById != undefined) {
            <mat-radio-button value="true" [checked]="utilisateurById.actif == true">Oui</mat-radio-button>
            <mat-radio-button value="false" [checked]="utilisateurById.actif == false">Non</mat-radio-button>
            }
          </mat-radio-group>
          @if (formUpdate.controls['actif'].hasError('required')) {
          <mat-error>Actif <strong>requis</strong></mat-error>
          }
        </div>
      </div>
      <br>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="onSubmit()">Envoyer</button>
      <button mat-raised-button (click)="onClose()">Retour</button>
    </mat-card-actions>
  </mat-card>
</form>