table{
    box-shadow: 1px 1px 1px 1px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #B9B9B9;
}

td {
    background-color: white;
}