<div class="liste">
    <h3>LISTE DES ETATS DE PROJET</h3>
    <form class="filtrage" [formGroup]="formFiltrage">
        <select title="filtrage-demande" class="filtrage-demande" formControlName="filtrageDemande"
            (change)="updateFiltrage()">
            <option disabled [selected]="formFiltrage.value.filtrageDemande == ''">-- Sélectionner un filtre --</option>
            <option value="Par libellé d'état de projet">Rechercher par libellé d'état de projet</option>
        </select>
        @if (formFiltrage.get("filtrageDemande")?.getRawValue() == "Par libellé d'état de projet") {
        <select title="libelles-etat-projet" id="libelles-etat-projet" autocomplete
            formControlName="etatProjetRecherche">
            <option disabled [selected]="formFiltrage.value.filtrageDemande == 'Par libellé d\'état de projet'">--
                Sélectionner
                un état de projet --</option>
            @for (libelleEtatProjet of listLibellesEtatsProjet; track $index) {
            <option [value]="libelleEtatProjet">{{ libelleEtatProjet }}</option>
            }
        </select>
        }
        <input type="submit" id="btn-soumission" formControlName="boutonSoumission" (click)="onSearch()">
        <input type="reset" id="btn-reset" (click)="onReset()" formControlName="boutonReset">
    </form>

    <div class="table">
        <table border="2">
            <thead>
                <tr>
                    <th>Libellé</th>
                    <th>Projets associés</th>
                    <th>Modifier</th>
                </tr>
            </thead>
            <tbody>
                @for (etatProjet of listEtatsProjet; track $index) {
                <tr title="{{ etatProjet.idEtat }}">
                    <td>{{ etatProjet.libelle }}</td>
                    <td>
                        @for (projet of etatProjet.listProjets; track $index){
                        <ul>
                            <li>Projet n°{{ projet[0] }}</li>
                            <li>{{ projet[1] }}</li>
                        </ul>
                        <br>
                        }
                    </td>
                    <td><button type="button" routerLink="/parametres/updateEtatProjet/"
                            [queryParams]="{ id: etatProjet.idEtat}">Modifier</button></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>