<main>
    <div id="liste-projets">
        <h3>LISTE DES PROJETS</h3>
        <form id="filtrage">
            <select name="filtrage-demande" id="filtrage-demande">
                <option value="Par nom de projet">Rechercher par nom de projet</option>
                <option value="Par type de projet">Rechercher par type de projet</option>
                <option value="Par nom d'équipe">Rechercher par nom d'équipe</option>
                <option value="Par nom d'utilisateur">Rechercher par nom d'utilisateur</option>
            </select>
            <label for="projet-recherche">
                <input type="text" name="projet-recherche" id="projet-recherche">
            </label>
            <label for="btn-validation">
                <input type="submit" value="OK">
            </label>
        </form>

        <!-- Ajouter listes déroulantes dynamiques -->
    </div>
    <table border="1">
        <tr>
            <th>Nom</th>
            <th>Utilisateur</th>
            <th>Equipe</th>
            <th>Client</th>
            <th>Tâches associées</th>
            <th>Jira</th>
            <th>Technologie</th>
        </tr>
        <tr>
            <td>Example</td>
        </tr>
        <!-- Ajouter lignes par Angular pour récupérer les données de l'API-->
    </table>
    <div id="tools-box-container">
        <div class="tools-box">
            <div class="conteneur-btn">
                <div class="btn">
                    <a href="#"><img src="../../assets/img/plus-btn.png" alt="plus-btn" /></a>
                </div>
                <div class="libelle-btn">
                    <p>
                        <span>CREER UNE TACHE</span>
                    </p>
                </div>
            </div>
            <div class="conteneur-btn">
                <div class="btn">
                    <a href="#"><img src="../../assets/img/plus-btn.png" alt="plus-btn" /></a>
                </div>
                <div class="libelle-btn">
                    <p>
                        <span>CREER UN PROJET</span>
                    </p>
                </div>
            </div>
            <div class="conteneur-btn">
                <div class="btn">
                    <a href="#"><img src="../../assets/img/plus-btn.png" alt="plus-btn" /></a>
                </div>
                <div class="libelle-btn">
                    <p>
                        <span>CREER UNE EQUIPE</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="tools-box">
            <div class="conteneur-btn">
                <div class="btn">
                    <a href="#"><img src="../../assets/img/plus-btn.png" alt="plus-btn" /></a>
                </div>
                <div class="libelle-btn">
                    <p>
                        <span>CREER UN COMPTE UTILISATEUR</span>
                    </p>
                </div>
            </div>
            <div class="conteneur-btn">
                <div class="btn">
                    <a href="#"><img src="../../assets/img/plus-btn.png" alt="plus-btn" /></a>
                </div>
                <div class="libelle-btn">
                    <p>
                        <span>CREER UN CLIENT</span>
                    </p>
                </div>
            </div>
        </div>
    </div>


</main>