h1 {
    text-align: center; 
    font-size:30px; 
    color: #00884C;
    margin-top: 25px;
    margin-bottom: 25px;
}

form {
    text-align: center;
    color: #00884C;  
}

.form-element {
    margin-bottom: 15px;
}

.button-position {
    margin-top: 25px
}