<h1>Ajouter une tâche</h1>

<!-- Assignation de l'objet formGroup à la propriété formCreateTache -->
<!-- Utilisation de la directive formGroup pour lier le formulaire 
à l'objet FormGroup -->
<form class="form-container" [formGroup]="formCreateTache" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="form-field">
        <mat-label>Nom de la tâche</mat-label>
        <!-- Utilisation de la directive formControlName pour lier chaque
        champ de formulaire à un controle FormContral dans l'objet FormGroup -->
        <input formControlName="nomTache" matInput>
        <!-- <mat-error *ngIf="formCreateTache.get('nomTache')?.touched && formCreateTache.get('nomTache')?.hasError('required')">
            Le nom de la tâche est requis
          </mat-error> -->
    </mat-form-field>

    <mat-form-field color="primary" class="form-field">
        <mat-label>Type de tâche</mat-label>
            <mat-select formControlName="libelleTypeTache">
                <mat-option *ngFor="let typeTache of typeTaches" [value]="typeTache.libelle">
                {{typeTache.libelle}}</mat-option>
            </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field">
        <mat-label>Projet</mat-label>
            <mat-select formControlName="nomProjet">
                <mat-option *ngFor="let projet of projets" [value]="projet.nomProjet">
                {{projet.nomProjet}}</mat-option>
            </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field">
        <mat-label>Date</mat-label>
            <input formControlName="dateTache" matInput [matDatepicker]="picker">
            <mat-hint>JJ/MM/AAAA</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-checkbox formControlName="journee" color="primary" class="form-field">Journée ou </mat-checkbox>
   
    <mat-form-field appearance="outline" class="form-field">
        <mat-label>Durée (en heures)</mat-label>
        <input formControlName="dureeTache" matInput>
    </mat-form-field>


    <mat-form-field class="form-field">
        <mat-label>Commentaires</mat-label>
            <textarea formControlName="commentaires" matInput></textarea>
    </mat-form-field>

    <div>
        <button mat-raised-button class="button-element" color="primary" type="submit">Valider</button>
    </div>
</form>

<!-- Message général pour les champs non remplis -->
<div *ngIf="submitted && !formCreateTache.valid" class="error-message">
    Tous les champs doivent être renseignés
</div>



<!-- <form >  
    <div class="form-element">
        <label for="nomTache">Nom </label>
        <input type="text" id="nomTache" name="nomTache" />
    </div>

    <div class="form-element">
        <label for="typeTache">Type de tâche </label>
        <select name="typeTache" >
            <option *ngFor="let typeTache of typeTaches" [value]="typeTache.libelle" >
            {{typeTache.libelle}}
            </option>
        </select>
    </div>

    <div class="form-element">
        <label for="projet">Projet </label>
        <select name="projet" >
            <option *ngFor="let projet of projets " [value]="projet.nomProjet" >
            {{projet.nomProjet}}
            </option>
        </select>
    </div>

    <div class="form-element">
        <h4>Durée</h4>
        <label for="jours">Date </label>
        <input type="date" id="jours" name="jours" style="margin-right: 15px;" />

        <label for="heures"> Durée (en heures) </label>
        <input type="text" id="heures" name="heures" />

    </div>

    <div class="form-element">
        <label for="commentaires">Commentaires </label>
        <textarea id="commentaires" name="commentaires"></textarea>
    </div>      
    
    <div class="button-position">
        <button type="submit">Valider </button>
    </div>
</form> -->
