<div class="liste">
    <h3>
        @if (routerURL == "/projets") {
        LISTE DES PROJETS
        }
        @else if (routerURL == "/accueil") {
        <a routerLink="/projets">LISTE DES PROJETS</a>
        }
    </h3>
    @if (routerURL == "/projets") {
    <form class="filtrage" [formGroup]="formFiltrage">
        <select title="filtrage-demande" class="filtrage-demande" formControlName="filtrageDemande"
            (change)="updateFiltrage()">
            <option disabled [selected]="formFiltrage.value.filtrageDemande == ''">-- Sélectionner un filtre --</option>
            <option value="Par nom de projet">Rechercher par nom de projet</option>
            <option value="Par équipe">Rechercher par équipe</option>
        </select>
        @if (formFiltrage.get("filtrageDemande")?.getRawValue() == "Par nom de projet") {
        <select title="noms-projet" id="noms-projet" autocomplete formControlName="projetRecherche">
            <option disabled [selected]="formFiltrage.value.filtrageDemande == 'Par nom de projet'">-- Sélectionner
                un nom de projet --</option>
            @for (nomProjet of listNomsProjet; track $index) {
            <option [value]="nomProjet">{{ nomProjet }}</option>
            }
        </select>
        } @else if (formFiltrage.get("filtrageDemande")?.getRawValue() == "Par équipe") {
        <select title="equipes" id="equipes" autocomplete formControlName="projetRecherche">
            @for (equipe of listEquipes; track $index) {
            <option [value]="equipe">{{ equipe }}</option>
            }
        </select>
        }
        <input type="submit" id="btn-soumission" formControlName="boutonSoumission" (click)="onSearch()">
        <input type="reset" id="btn-reset" (click)="onReset()" formControlName="boutonReset">
    </form>
    }

    <!-- TODO: Faire en sorte d'avoir les 10 derniers projets ajoutés sur la page d'accueil -->
    <div class="table">
        <table border="2">
            @if (routerURL == "/projets") {
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Client</th>
                    <th>Jira</th>
                    <th>Type de projet</th>
                    <th>Type de défaut </th>
                    <th>Technologie</th>
                    <th>Nom RDS</th>
                    <th>Direction RDS</th>
                    <th>Service RDS</th>
                    <th>Date demande</th>
                    <th>Livraison souhaitée</th>
                    <th>Livraison révisée</th>
                    <th>Affectation CDS</th>
                    <th>Prise en compte CDS</th>
                    <th>Date Estimation</th>
                    <th>Devis Estimation</th>
                    <th>Dont Garantie</th>
                    <th>Date Feu Vert</th>
                    <th>Date Livraison</th>
                    <th>MCO</th>
                    <th>Date passage MCO</th>
                    <th>Date sortie MCO</th>
                    <th>Etat</th>
                    <th>Commentaires</th>
                    <th>Equipe associée</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                @for (projet of listProjets; track $index) {
                <tr title="{{ projet.idProjet }}">
                    <td>{{ projet.nomProjet}}</td>
                    <td>{{ projet.nomClient}}</td>
                    <td>{{ projet.jira}}</td>
                    <td>{{ projet.libelleTypeProjet}}</td>
                    @if (projet.libelleTypeDefaut) {
                        <td>{{ projet.libelleTypeDefaut }}</td>
                    } @else {
                        <td>/</td>
                    }
                    <td>{{ projet.techno}}</td>
                    @if (projet.rds) {
                        <td>{{ projet.rds[1] }}</td>
                        <td>{{ projet.rds[2] }}</td>
                        <td>{{ projet.rds[3] }}</td>
                    } @else {
                        <td>/</td>
                        <td>/</td>
                        <td>/</td>
                    }
                    <td>{{ projet.dateDemande}}</td>
                    <td>{{ projet.livraisonSouhaitee}}</td>
                    <td>{{ projet.livraisonRevisee}}</td>
                    <td>{{ projet.affectationCDS}}</td>
                    <td>{{ projet.priseEnCompteCDS}}</td>
                    <td>{{ projet.dateEstimation}}</td>
                    <td>{{ projet.devisEstimation}}</td>
                    <td>{{ projet.dontGarantie}}</td>
                    <td>{{ projet.dateFeuVert}}</td>
                    <td>{{ projet.dateLivraison}}</td>
                    <td>{{ projet.mco}}</td>
                    @if (projet.mco) {
                        <td>{{ projet.datePassageMCO}}</td>
                        <td>{{ projet.dateSortieMCO}}</td>
                    } @else {
                        <td>/</td>
                        <td>/</td>
                    }
                    <td>{{ projet.libelleEtat}}</td>
                    <td>{{ projet.commentaires}}</td>
                    <td>{{ projet.libelleEquipe }}</td>
                    <td><button type="button" routerLink="/projets/update/"
                            [queryParams]="{ id: projet.idProjet}">Modifier</button></td>
                    <td><button type="button" (click)="onDeleteProjet(projet.idProjet)">Supprimer</button></td>     
                </tr>
                }
            </tbody>
            } @else if (routerURL == "/accueil") {
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Client</th>
                    <th>Jira</th>
                    <th>Type de projet</th>
                    <th>Type de défaut</th>
                    <th>Equipe associée/th>
                </tr>
            </thead>
            <tbody>
                @for (projet of listProjets; track $index) {
                <tr title="{{ projet.idProjet }}">
                    <td>{{ projet.nomProjet}}</td>
                    <td>{{ projet.nomClient}}</td>
                    <td>{{ projet.jira}}</td>
                    <td>{{ projet.libelleTypeProjet}}</td>
                    @if (projet.libelleTypeDefaut) {
                        <td>{{ projet.libelleTypeDefaut }}</td>
                    } @else {
                        <td>/</td>
                    }
                    <td>{{ projet.libelleEquipe }}</td>
                    }
            </tbody>
            }
        </table>
    </div>
</div>