<div class="liste">
    <h3>LISTE DES SITES</h3>
    <form class="filtrage" [formGroup]="formFiltrage">
        <select title="filtrage-demande" id="filtrage-demande" formControlName="filtrageDemande" (change)="updateFiltrage()">
            <option disabled [selected]="formFiltrage.value.filtrageDemande == ''">-- Sélectionner un filtre --</option>
            <option value="Par nom de site">Rechercher par nom de site</option>
        </select>
        @if (formFiltrage.get("filtrageDemande")?.getRawValue() == "Par nom de site") {
        <select title="noms-site" id="noms-site" autocomplete formControlName="siteRecherche">
            <option disabled [selected]="formFiltrage.value.filtrageDemande == 'Par nom de site'">--
                Sélectionner
                un site --</option>
            @for (nomSite of listNomsSite; track $index) {
            <option [value]="nomSite">{{ nomSite }}</option>
            }
        </select>
        }
        <input type="submit" id="btn-soumission" formControlName="boutonSoumission" (click)="onSearch($event)">
        <input type="reset" id="btn-reset" (click)="onReset($event)" formControlName="boutonReset">
    </form>

    <div class="table">
        <table border="2">
            <tbody>
                <tr>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>Code Postal</th>
                    <th>Ville</th>
                    <th>Utilisateurs associés</th>
                    <th>Modifier</th>
                </tr>
                @for (site of listSites; track $index) {
                <tr title="{{ site.idSite }}">
                    <td>{{ site.nomSite }}</td>
                    <td>{{ site.adresseSite }}</td>
                    <td>{{ site.codePostalSite }}</td>
                    <td>{{ site.villeSite }}</td>
                    <td>
                        @for (utilisateur of site.listUtilisateurs; track $index){
                        <ul>
                            <li>Utilisateur n°{{ utilisateur[0] }}</li>
                            <li>{{ utilisateur[1] }} {{ utilisateur[2]}}</li>
                        </ul>
                        <br>
                        }
                    </td>
                    <td><button type="button" routerLink="/admin/parametres/updateSite/"
                            [queryParams]="{ id: site.idSite }">Modifier</button></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>