h1 {
  text-align: center; 
  font-size:30px; 
  color: #312B6D;
  margin-top: 25px;
  margin-bottom: 25px;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-table {
  width: 55%;
  background-color: #dbdbdb;
  border-collapse: collapse;
  box-shadow: 5px 6px 8px 0 rgba(0,0,0,0.3);
  /* pour avoir les colonnes de la même taille : */
  table-layout: fixed;
}

.calendar-table thead th {
  background-color: #312B6D;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  /* font-size en vw permet que la taille de police change 
  lorsqu'on réduit la taille de la page */
  font-size: 1.1vw;
  border: 1px solid #000000;
  color: white;
  cursor: default;
}

.calendar-table tbody td {
  text-align: center;
  padding: 3px;
  border: 1px solid #000000;
  height: 50px;
}

.calendar-container .calendar-table .current-week, .current-date {
  background-color: #f2f5c8 ;
}

.week-number {
  font-weight: bold;
}

.calendar-container .calendar-table .empty-cell, tbody td:empty  {
  border: none ;
  background-color: #E8E7E7;
  cursor: default;
}

.calendar-table td {
  cursor: pointer;
}

.weekend-days {
  background-color: #6e6e6e; 
  cursor: default;
  /* empêche de sélectionner */
  pointer-events: none;  
}

.navigation {
  text-align: center;
}

.calendar-table thead th:first-child {
  background-color: #5248c0;
  color: white;
}

.calendar-table tbody td:first-child {
  background-color:#d7d4f5;
}

.holidays-days {
  background-color: #adadad !important;
  cursor: default;
  pointer-events: none;  
}

.arrow-button { 
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  margin-inline: 200px;
  margin-bottom: 20px;
}

.arrow-button:hover {
  color: #312B6D;
}

.sup-seven {
  background-color: #00884C ;
}

.between-four-six {
  background-color: rgb(240, 175, 36);
}

.between-one-three {
  background-color: rgb(230, 3, 3);
}

.none {
  background-color: #dbdbdb;
}

h3{
  text-align: center; 
  color: #312B6D;
  margin-top: 25px;
  margin-bottom: 25px;
}

.legend-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.legend-table {
  text-align: center; 
  width: 50%;
  border-collapse: collapse;
  box-shadow: 5px 6px 8px 0 rgba(0,0,0,0.3);
  height: 30px;
   /* pour avoir les colonnes de la même taille : */
  table-layout: fixed;
  font-size: 0.7vw;
}

.legend-table td {
  border: 1px solid #000000;
}

/* .calendar-table tbody td:hover {
  background-color: #f0f0f0;
}

.calendar-table tbody .weekNumber:hover {
  background-color: #f0f0f0;
} */

/* .calendar-container .calendar-table .weekend-days:hover{
  background-color: #a9a9a9;
} */




