h1 {
  text-align: center; 
  font-size:30px; 
  color: #312B6D;
  margin-top: 25px;
  margin-bottom: 25px;
}

.calendar-table {
  width: 60%;
  border-collapse: collapse;
  box-shadow: 5px 6px 8px 0 rgba(0,0,0,0.3);
  margin: auto;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.week-days {
  font-size: 0.95em;
  color: #333;
}

.calendar-table thead th {
  background-color: #312B6D;
  text-align: center;
  font-weight: bold;
  padding: 15px;
  border: 1px solid #ddd;
  color: white;
}

.calendar-table tbody td {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  height: 50px;
}

.calendar-table tbody td:empty {
  border: none;
  background-color:#ffffff;
}

.calendar-table tbody td:not(:empty) {
  cursor: pointer;
}

.calendar-table tbody td:not(:empty):hover {
  background-color: #f0f0f0;
}


.navigation {
  text-align: center;
}

.arrow-button {
 
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-inline: 200px;
  margin-bottom: 20px;
}

.arrow-button:hover {
  color: #312B6D;
}

.calendar-table thead th:first-child {
  background-color: #5248c0;
  color: white;
}

.calendar-table tbody td:first-child {
  background-color:#b5aeff;
}

.weekend-day {
  background-color: #9a9999; /* Gris */
}

.calendar-table .empty-cell {
  background-color: #ffffff;
}

/* Si les grilles ne s'alignent pas correctement, assurez-vous qu'aucun style extérieur ne les affecte */
* {
  box-sizing: border-box; /* Cela aide à éviter les problèmes d'alignement dus au padding et au border */
}
 