<h1 > {{currentMonth | date: 'MMMM yyyy' | titlecase}} - {{utilisateur.prenomUtilisateur }} {{utilisateur.nomUtilisateur }} </h1>
<div class="navigation">
  <button class="arrow-button" (click)="goToPreviousMonth()"><</button>
  <button class="arrow-button" (click)="goToNextMonth()">></button>
</div>

<div class="calendar-container">
  <table class="calendar-table">
    <thead>
      <tr>
        <th>Semaine</th>
        <th *ngFor="let day of weekDays">{{ day }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let week of weeks">
        <td>{{ week.weekNumber }}</td>
        <!-- je récupère l'index (let i=index) de mon day 
        si l'index est 5 ou 6  et si day est vrai (pas null) alors j'applique la classe CSS weekend-day -->
        <td *ngFor="let day of week.days; let i = index" [ngClass]="{'weekend-day': (i === 5 || i === 6) && day, 'empty-cell': !day}">{{ day | date: 'd' }}</td>
        <!-- j'ai dû créer des cellules vides après le dernier jour du mois pour pouvoir leur appliquer un style css 
        [].constructor(7 - week.days.length) génère un nombre de cellules supplémentaires vides
        pour s'assurer que chaque ligne a 7 cellules -->
        <td *ngFor="let empty of [].constructor(7 - week.days.length)" class="empty-cell"></td>
      </tr>
    </tbody>
  </table>
</div>

  

  
<!-- <div class="calendar">
  <div class="navigation">
    <button class="arrow-button" (click)="goToPreviousMonth()"><</button>
    <button class="arrow-button" (click)="goToNextMonth()">></button>
  </div>
    
    <div class="week-days">
      <div *ngFor="let day of weekDays">{{ day }}</div>
    </div>
    
    <div class="days">
      <ng-container *ngFor="let day of daysInMonth">
        <div *ngIf="day; else empty">
          {{ day | date: 'd' }}
        </div>
        <ng-template #empty><div></div></ng-template>
      </ng-container>
    </div>
  </div> -->

     <!-- → ← -->
  



