<div id="liste">
    <h3>
        @if (routerURL =="/admin/clients") {
        LISTE DES CLIENTS
        }
        @else if (routerURL == "/admin/accueil") {
        <a routerLink="/admin/clients">LISTE DES CLIENTS</a>
        }
    </h3>
    @if (routerURL == "/admin/clients") {
    <form id="filtrage" [formGroup]="formFiltrage">
        <select id="filtrage-demande" formControlName="filtrageDemande" (change)="updateFiltrage()">
            <option disabled [selected]="formFiltrage.value.filtrageDemande == ''">-- Sélectionner un filtre --</option>
            <option value="Par nom de client">Rechercher par nom de client</option>
        </select>
        @if (formFiltrage.get("filtrageDemande")?.getRawValue() == "Par nom de client") {
        <select id="noms-client" autocomplete formControlName="clientRecherche">
            <option disabled [selected]="formFiltrage.value.filtrageDemande == 'Par nom de client'">-- Sélectionner un
                nom de client --</option>
            @for (nomClient of listNomsClient; track $index) {
            <option [value]="nomClient">{{ nomClient }}</option>
            }
        </select>
        }
        <input type="submit" id="btn-soumission" formControlName="boutonSoumission" (click)="onSearch($event)">
        <input type="reset" id="btn-reset" (click)="onReset($event)" formControlName="boutonReset">
    </form>
    }

    <!-- TODO: Faire en sorte d'avoir les 10 derniers clients ajoutés -->
    <div id="table">
        <table border="2">
            <tbody>
                @if (routerURL =="/admin/clients") {
                <tr>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>Code postal</th>
                    <th>Ville</th>
                    <th>Actif</th>
                    <th>Projet associé</th>
                    <th>Modifier</th>
                </tr>
                @for (client of listClients; track $index) {
                <tr [className]="client.actif" id="{{ client.idClient }}">
                    <td>{{ client.nomClient }}</td>
                    <td>{{ client.adresseClient }}</td>
                    <td>{{ client.codePostalClient }}</td>
                    <td>{{ client.villeClient }}</td>
                    <td>{{ client.actif }}</td>
                    <td>
                        @for (projet of client.listProjets; track $index){
                        <ul>
                            <li>Projet n°{{ projet[0] }}</li>
                            <li>{{ projet[1] }}</li>
                        </ul>
                        <br>
                        }
                    </td>
                    <td><button type="button" routerLink="/admin/clients/update/"
                            [queryParams]="{ id: client.idClient}">Modifier</button></td>
                </tr>
                }
                } @else if (routerURL =="/admin/accueil") {
                <tr>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>Code postal</th>
                    <th>Ville</th>
                </tr>
                @for (client of listClients; track $index) {
                <tr [className]="client.actif" id="{{ client.idClient }}">
                    <td>{{ client.nomClient }}</td>
                    <td>{{ client.adresseClient }}</td>
                    <td>{{ client.codePostalClient }}</td>
                    <td>{{ client.villeClient }}</td>
                </tr>
                }
                }

            </tbody>
        </table>
    </div>
</div>