<div class="liste">
    <h3>
        @if (routerURL =="/clients") {
        LISTE DES CLIENTS
        }
        @else if (routerURL == "/accueil") {
        <a routerLink="/clients">LISTE DES CLIENTS</a>
        }
    </h3>
    @if (routerURL == "/clients") {
    <form class="filtrage" [formGroup]="formFiltrage">
        <select title="filtrage-demande" class="filtrage-demande" formControlName="filtrageDemande"
            (change)="updateFiltrage()">
            <option disabled [selected]="formFiltrage.value.filtrageDemande == ''">-- Sélectionner un filtre --</option>
            <option value="Par nom de client">Rechercher par nom de client</option>
        </select>
        @if (formFiltrage.get("filtrageDemande")?.getRawValue() == "Par nom de client") {
        <select title="noms-client" id="noms-client" autocomplete formControlName="clientRecherche">
            <option disabled [selected]="formFiltrage.value.filtrageDemande == 'Par nom de client'">-- Sélectionner un
                nom de client --</option>
            @for (nomClient of listNomsClient; track $index) {
            <option [value]="nomClient">{{ nomClient }}</option>
            }
        </select>
        }
        <input type="submit" id="btn-soumission" formControlName="boutonSoumission" (click)="onSearch()">
        <input type="reset" id="btn-reset" (click)="onReset()" formControlName="boutonReset">
    </form>
    }

    <!-- TODO: Faire en sorte d'avoir les 10 derniers clients ajoutés sur la page d'accueil-->
    <div class="table">
        <table border="2">
            @if (routerURL =="/clients") {
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>Code postal</th>
                    <th>Ville</th>
                    <th>Actif</th>
                    <th>Mode de fonctionnement MCO</th>
                    <!-- <th>Projets associés</th> -->
                    <th>Modifier</th>
                </tr>
            </thead>
            <tbody>
                @for (client of listClients; track $index) {
                <tr [className]="client.actif" title="{{ client.idClient }}">
                    <td>{{ client.nomClient }}</td>
                    <td>{{ client.adresseClient }}</td>
                    <td>{{ client.codePostalClient }}</td>
                    <td>{{ client.villeClient }}</td>
                    <td>{{ client.actif }}</td>
                    <td>{{ client.modeFonctionnementMCO }}</td>
                    <!-- <td>
                        @for (projet of client.listProjets; track $index){
                        <ul>
                            <li>Projet n°{{ projet[0] }}</li>
                            <li>{{ projet[1] }}</li>
                        </ul>
                        <br>
                        }
                    </td> -->
                    <td><button type="button" routerLink="/clients/update/"
                            [queryParams]="{ id: client.idClient}">Modifier</button></td>
                </tr>
                }
            </tbody>
            } @else if (routerURL =="/accueil") {
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>Code postal</th>
                    <th>Ville</th>
                </tr>
            </thead>
            <tbody>
                @for (client of listClients; track $index) {
                <tr [className]="client.actif" title="{{ client.idClient }}">
                    <td>{{ client.nomClient }}</td>
                    <td>{{ client.adresseClient }}</td>
                    <td>{{ client.codePostalClient }}</td>
                    <td>{{ client.villeClient }}</td>
                </tr>
                }
            </tbody>
            }
        </table>
    </div>
</div>