<div id="liste">
    <h3>LISTE DES CLIENTS</h3>
    <form id="filtrage" [formGroup]="formFiltrage">
        <select id="filtrage-demande" formControlName="filtrageDemande" (change)="updateFiltrage()">
            <option disabled [selected]="formFiltrage.value.filtrageDemande == ''">-- Sélectionner un filtre --</option>
            <option value="Par nom de client">Rechercher par nom d'utilisateur</option>
        </select>
        @if (formFiltrage.get("filtrageDemande")?.getRawValue() == "Par nom de client") {
            <select id="noms-client" autocomplete formControlName="clientRecherche">
                <option disabled [selected]="formFiltrage.value.filtrageDemande == 'Par nom de client'">-- Sélectionner un nom d'utilisateur --</option>
                @for (nomClient of listNomsClient; track $index) {
                    <option [value]="nomClient">{{ nomClient }}</option>
                }
            </select>
        }
        <input type="submit" id="btn-soumission" formControlName="boutonSoumission" (click)="onSearch($event)">
        <input type="reset" id="btn-reset" (click)="onReset($event)" formControlName="boutonReset">
    </form>

    <div id="table">
        <table border="2">
            <tbody>
                <tr>
                    <th>Login</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Date de naissance</th>
                    <th>Mail</th>
                    <th>Actif</th>
                    <th>Site</th>
                    <th>Type utilisateur</th>
                    <th>Tâches associées</th>
                    <th>Equipes intégrées</th>
                    <th>Compositions intégrées</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
                @for (utilisateur of listUtilisateurs; track $index) {
                    <tr id="{{ utilisateur.idUtilisateur }}">
                        <td>{{ utilisateur.login }}</td>
                        <td>{{ utilisateur.prenomUtilisateur }}</td>
                        <td>{{ utilisateur.nomUtilisateur }}</td>
                        <td>{{ utilisateur.dateNaissance | date: 'dd/MM/yyyy'}}</td>
                        <td>{{ utilisateur.mail }}</td>
                        <td>{{ utilisateur.actif }}</td>
                        <td>{{ utilisateur.nomSite }}</td>
                        <td>{{ utilisateur.libelleTypeUtilisateur }}</td>
                        <td>
                            @for (tache of utilisateur.listTaches; track $index){
                                <ul>
                                    <li>Tâche n°{{ tache[0] }}</li>
                                    <li>{{ tache[1] }}</li>
                                </ul>
                                <br>
                            }
                        </td>
                        <td>
                            @for (equipe of utilisateur.listEquipes; track $index){
                                <ul>
                                    <li>Equipe n°{{ equipe[0] }}</li>
                                    <li>{{ equipe[1] }}</li>
                                </ul>
                                <br>
                            }
                        </td>
                        <td>
                            @for (composition of utilisateur.listCompositions; track $index){
                                <ul>
                                    <li>Composition n°{{ composition[0] }}</li>
                                    <li>Equipe {{ composition[1] }}</li>
                                    <li>Utilisateur {{ composition[2] }}</li>
                                </ul>
                                <br>
                            }
                        </td>
                        <td><button type="button" (click)="onUpdateUtilisateur($event)">Modifier</button></td>
                        <td><button type="button" (click)="onDeleteUtilisateur($event)">Supprimer</button></td>
                    </tr>
                }
                
            </tbody>
        </table>
    </div>
</div> -->