@media screen and (max-width: 360px){
  img {
    min-height: 48px;
    width: 100%;
    height: 100%;
  }
}

@media print {
  img {
    min-height: 12mm;
    width: 100%;
    height: 100%;
  }
}

header {
  display: flex;
  flex-direction: column;
}

#talaron-logo {
  display: flex;
  margin-bottom: 62px;
}

img {
  margin: auto;
  box-shadow: 1px 1px 1px 1px; 
}

#nav-container {
  border: 1px solid black;
  background-color: #E8E7E7;
  width: 55%;
  margin: auto;
  box-shadow: 1px 1px 1px 1px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link-container {
  padding: 5px;
}

.link-container a {
  text-decoration: none;
}

.link-container a span{
  color: black;
}

.link-container a span:hover {
  color: rgb(35, 68, 233)
}