<header>
    <div id="talaron-logo">
        <img src="../../assets/img/talaron-logo.png" alt="talaron-logo">
    </div>
    <div id="nav-container">
        <nav>
            <div class="link-container">
                <a routerLink="/accueil"><span>Accueil</span></a>
            </div>
            <div class="link-container">
                <a routerLink="/calendrier"><span>Calendrier</span></a>
            </div>
            <div class="link-container">
                <a routerLink="/taches"><span>Tâches</span></a>
            </div>
            <div class="link-container">
                <a routerLink="/projets"><span>Projets</span></a>
            </div>
            <div class="link-container">
                <a routerLink="/equipes"><span>Equipes</span></a>
            </div>
            <div class="link-container">
                <a routerLink="/utilisateurs"><span>Utilisateurs</span></a>
            </div>
            <div class="link-container">
                <a routerLink="/clients"><span>Clients</span></a>
            </div>
            <div class="link-container">
                <a routerLink="/suivisProjet"><span>Suivi des projets</span></a>
            </div>
            <div class="link-container">
                <a routerLink="/parametres"><span>Paramètres</span></a>
            </div>
            <div class="link-container">
                <a href="#"><span>Déconnexion</span></a>
               <!-- <a (click)="logout()"><span>Déconnexion</span></a> -->
            </div>
        </nav>
    </div>

</header>

<!-- <h1>Greeting</h1>
<div [hidden]="!authenticated()">
	<p>Authentification réussie</p>
</div>
<div [hidden]="authenticated()">
	<p>Authentification échouée</p>
</div> -->