<h1>Création d'un client</h1>

<form [formGroup]="formCreate">
  <mat-card class="card">
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Nom :</mat-label>
            <input matInput formControlName="nom">
            @if (formCreate.controls['nom'].hasError('required')) {
            <mat-error>Nom <strong>requis</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Adresse : </mat-label>
            <input matInput formControlName="adresse">
            @if (formCreate.controls['adresse'].hasError('required')) {
            <mat-error>Adresse <strong>requise</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Code Postal :</mat-label>
            <input matInput formControlName="codePostal">
            @if (formCreate.controls['codePostal'].hasError('required')) {
            <mat-error>Code postal <strong>requis</strong></mat-error>
            } @else if ( formCreate.controls['codePostal'].hasError('pattern')) {
                <mat-error>Le code postal <strong>doit être composé de 5 chiffres</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Ville :</mat-label>
            <input matInput formControlName="ville">
            @if (formCreate.controls['ville'].hasError('required')) {
            <mat-error>Ville <strong>requise</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button  type="submit" (click)="onSubmit()">Envoyer</button>
      <button mat-raised-button (click)="onClose()">Retour</button>
    </mat-card-actions>
  </mat-card>
</form>
