<app-header></app-header>

<main>

    <div id="accueil-lists">
        <div>
            <app-client-list></app-client-list>
            <app-utilisateur-list></app-utilisateur-list>
            <app-equipe-list></app-equipe-list>
        </div>
        <div>
            <!-- <app-list-projets></app-list-projets>
                <app-list-taches></app-list-taches> -->
        </div>
    </div>


    <div id="tools-box-container">
        <div class="tools-box">
            <div class="conteneur-btn">
                <div class="btn">
                    <a href="#"><img src="../../assets/img/plus-btn.png" alt="plus-btn" /></a>
                </div>
                <div class="libelle-btn">
                    <p>
                        <span>CREER UNE TACHE</span>
                    </p>
                </div>
            </div>
            <div class="conteneur-btn">
                <div class="btn">
                    <a href="#"><img src="../../assets/img/plus-btn.png" alt="plus-btn" /></a>
                </div>
                <div class="libelle-btn">
                    <p>
                        <span>CREER UN PROJET</span>
                    </p>
                </div>
            </div>
            <div class="conteneur-btn">
                <div class="btn">
                    <a href="#"><img src="../../assets/img/plus-btn.png" alt="plus-btn" /></a>
                </div>
                <div class="libelle-btn">
                    <p>
                        <span>CREER UNE EQUIPE</span>
                    </p>
                </div>
            </div>
            <div class="conteneur-btn">
                <div class="btn">
                    <a href="#"><img src="../../assets/img/plus-btn.png" alt="plus-btn" /></a>
                </div>
                <div class="libelle-btn">
                    <p>
                        <span>CREER UN COMPTE UTILISATEUR</span>
                    </p>
                </div>
            </div>
            <div class="conteneur-btn">
                <div class="btn">
                    <a href="#"><img src="../../assets/img/plus-btn.png" alt="plus-btn" /></a>
                </div>
                <div class="libelle-btn">
                    <p>
                        <span>CREER UN CLIENT</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

</main>

<app-footer></app-footer>