@import url(../pages.css);

@media screen and (max-width: 720px) {

    .tools-box {
       display: flex;
       flex-direction: column;
    }
}

app-projet-list{
    width: 100%;
    margin: auto;
}
