@import url(../pages.css);

@media screen and (max-width: 720px) {

    .tools-box {
       display: flex;
       flex-direction: column;
    }
}

#accueil-lists{
    display: flex;
    align-items: first baseline;
}

app-projet-list, app-utilisateur-list{
    width: 100%;
    margin: 0 auto;
}
