@import url(../pages.css);

@media screen and (max-width: 720px) {

    .tools-box {
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width: 800px) {

    #accueil-lists div{
        flex-direction: column;
    }
    
}

#accueil-lists div {
    display: flex;
    align-items: first baseline;
}

app-list-projets,
app-utilisateur-list,
app-client-list,
app-equipe-list {
    width: 100%;
    margin: 0 auto;
}