<app-header></app-header>

<main>
    <app-equipe-list></app-equipe-list>

    <div class="tools-box-container">
        <div class="tools-box">
            <div class="conteneur-btn">
                <div class="btn">
                    <a routerLink="/equipes/create"><img src="../../assets/img/plus-btn.png" alt="plus-btn" /></a>
                </div>
                <div class="libelle-btn">
                    <p>
                        <span>CREER UNE EQUIPE</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

</main>

<app-footer></app-footer>