<h1>Modifier une tâche</h1>


<form class="form-container" [formGroup]="formUpdateTache" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="form-field">
        <mat-label>Nom de la tâche</mat-label>
        <input formControlName="nomTache" matInput>
    </mat-form-field>

    <mat-form-field color="primary" class="form-field">
        <mat-label>Type de tâche</mat-label>
            <mat-select formControlName="libelleTypeTache">
                <mat-option *ngFor="let typeTache of typeTaches" [value]="typeTache.libelle">
                {{typeTache.libelle}}</mat-option>
            </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field">
        <mat-label>Projet</mat-label>
            <mat-select formControlName="nomProjet">
                <mat-option *ngFor="let projet of projets" [value]="projet.nomProjet">
                {{projet.nomProjet}}</mat-option>
            </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field">
        <mat-label>Date</mat-label>
            <input formControlName="dateTache" matInput [matDatepicker]="picker" [matDatepickerFilter]="myFilter">
            <mat-hint>JJ/MM/AAAA</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-checkbox formControlName="journee" color="primary" class="form-field">Journée ou </mat-checkbox>
   
    <mat-form-field appearance="outline" class="form-field">
        <mat-label>Durée (en heures)</mat-label>
        <input formControlName="dureeTache" matInput>
    </mat-form-field>


    <mat-form-field class="form-field">
        <mat-label>Commentaires</mat-label>
            <textarea formControlName="commentaires" matInput></textarea>
    </mat-form-field>

    <div>
        <button mat-raised-button class="button-element" color="primary" type="submit">Valider</button>
    </div>
</form>

<div *ngIf="submitted && !formUpdateTache.valid" class="error-message">
    Tous les champs doivent être renseignés
</div> 


