header {
  display: flex;
  flex-direction: column;
}

#talaron-logo {
  display: flex;
  margin-bottom: 62px;
}

img {
  width: 50%;
  height: 50%;
  max-width: 421px;
  max-height: 123px;
  margin: auto;
  box-shadow: 1px 1px 1px 1px; 
}

#nav-container {
  border: 1px solid black;
  background-color: rgba(167, 162, 158, 1);
  width: 55%;
  margin: auto;
  box-shadow: 1px 1px 1px 1px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link-container {
  padding: 5px;
}

.link-container a {
  text-decoration: none;
}

.link-container a span{
  color: white;
  font-weight: bold;
}

.link-container a span:hover {
  color: rgb(35, 68, 233)
}