<header>
    <div class="img-logo">
        <img src="../../assets/img/talaron-logo-about 1.png" alt="talaron-logo-about 1" />
    </div>
    <nav>
        <div class="frame-2-2">
            <p class="text-2">Accueil</p>
        </div>
        <div class="frame-2-3">
            <p class="text-3">Calendrier</p>
        </div>
        <div class="frame-2-4">
            <p class="text-4">Tâches</p>
        </div>
        <div class="frame-2-5">
            <p class="text-5">Projets</p>
        </div>
        <div class="frame-2-8">
            <p class="text-6">Utilisateurs</p>
        </div>
        <div class="frame-3-1">
            <p class="text-7">Clients</p>
        </div>
        <div class="frame-2-7">
            <p class="text-8">Types de projets</p>
        </div>
        <div class="frame-2-6">
            <p class="text-9">Suivi des projets</p>
        </div>
        <div class="frame-3-0">
            <p class="text-1-0">Déconnexion</p>
        </div>
    </nav>
</header>