@import url(../pages.css);

@media screen and (max-width: 900px) {

    .tools-box {
        display: flex;
        flex-direction: column;
    }

    #parametres-lists div {
        flex-direction: column;
    }
    
}

/*#parametres-lists {
    height: 400px;
    overflow-y: scroll;
}*/

#parametres-lists div {
    display: flex;
    align-items: first baseline;
}

app-type-utilisateur-list,
app-type-projet-list,
app-type-defaut-list,
app-type-tache-list,
app-etat-projet-list,
app-site-list {
    width: 100%;
    margin: 0 auto;
}