.page-container {
    background-image: url('/assets/img/fondAngelique.jpg');
    background-size: cover; /* Ajuste la taille de l'image pour couvrir toute la surface */
    background-repeat: no-repeat; /* Ne pas répéter l'image */
    height: 100vh; /* Pour que l'élément prenne toute la hauteur de la fenêtre */
    display: flex; /* Pour que les enfants s'étendent pour remplir l'espace */
    align-items: center; /* Centrer le contenu verticalement */
    justify-content: center; /* Centrer le contenu horizontalement */
  }

.form-container {
    border-radius: 5px;
    text-align: center;
    background-color: white;
    width: 600px;
    height: 600px;
}

.logo {
    margin-top: 35px;
}

h1 {
    font-size:29px;  
    margin-top: 40.57px;   
}

/* .text-under-connexion {
    color: #bebebe;
    margin-bottom: 25px;
} */

button {
    border-radius: 5px;
    width: 258.64px;
    height: 61.91px;
    background-color: #00884C;
    font-size: 17px; 
    cursor: pointer;
    color: white; 
    border: none;
    transition: background-color 0.3s; /* Transition en douceur pour la couleur de fond */
}

.input-login {
    margin-bottom: 22.31px;
}

.input-password {
    margin-bottom: 10.31px;
}

.text-lost-password {
    text-decoration: underline;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 70px;
    color: #242424;

}

input {
    background-color: #E8E7E7;
    border-radius: 5px;
    border: none;
    width: 369.36px;
    height: 50.58px;
    font-size: 20px;
}

input:focus {
    outline-color:#031CFB;
  }

::placeholder {
    text-align: center;
    color: #166264;
    opacity: 0.5;
  }
  
button:hover{
    background-color: #312B6D;
    border-color: #312B6D;
}

input:selection {
    background-color: #031CFB;
}
  
  
