<div class="page-container">
  <div class="form-container">
    <div class="logo">
      <img src="/assets/img/logo-talaron.png" alt="logo">
    </div>
    <h1>CONNEXION </h1>
      
      <form [formGroup]="formConnexion" (ngSubmit)="onSubmit()">  
        <div class="input-login">
            <input type="text" id="login" name="login" placeholder="Login*" formControlName="login" /> <br>
        </div>
        <div class="input-password">
            <input type="text" id="password" name="password" placeholder="Password*" formControlName="password" /> 
        </div>
        <div class="text-lost-password">Mot de passe oublié ?</div>
            <button type="submit">SE CONNECTER</button>
      </form>
  </div>
</div>


