<div class="page-container">
  <div class="form-container">
    <h1>SE CONNECTER </h1>
      <p class="text-under-connexion">Veuillez renseigner vos identifiants</p>
      <form action="/" method="post">  
        <div class="input-login">
            <input type="text" id="login" name="login" placeholder="Login*" /> <br>
        </div>
        <div class="input-password">
            <input type="text" id="password" name="password" placeholder="Password*" /> 
            <p class="text-lost-password">Mot de passe oublié ?</p>
        </div>
            <button type="submit">SE CONNECTER</button>
      </form>
  </div>
</div>


