main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 75%;
}

#liste {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#liste h3 {
    text-align: center;
}

#liste a {
    text-decoration: none;
    color: white;
}

#liste a:hover {
    text-decoration: underline;
}

#filtrage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

#table {
    max-width: 100%;
    overflow-x: scroll;
}

table {
    box-shadow: 1px 1px 1px 1px;
}

td,
th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #E8E7E7;
}

td {
    background-color: white;
}

td ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration-line: underline;
}

#tools-box-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tools-box {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.conteneur-btn {
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 1px 1px 1px 1px;
}

.conteneur-btn .btn a {
    display: inline;
}

.conteneur-btn .btn img {
    width: 60px;
    height: 75px;
}

.conteneur-btn .btn img:hover {
    transform: scale(1.5);
}

.libelle-btn {
    display: flex;
    align-items: center;
    width: 50%;
    height: 50%;
}

.libelle-btn span {
    font-weight: bold;
}